	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="../../static/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>سامانه کاریابی شریف</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="../../static/css/linearicons.css">
			<link rel="stylesheet" href="../../static/css/font-awesome.min.css">
			<link rel="stylesheet" href="../../static/css/bootstrap.css">
			<link rel="stylesheet" href="../../static/css/magnific-popup.css">
			<link rel="stylesheet" href="../../static/css/nice-select.css">
			<link rel="stylesheet" href="../../static/css/animate.min.css">
			<link rel="stylesheet" href="../../static/css/owl.carousel.css">
			<link rel="stylesheet" href="../../static/css/main.css">
		</head>
		<body>

			  <header id="header">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="../../static/img/logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="index.html">خانه</a></li>
				          <li><a href="about-us.html">درباره ما</a></li>
				          <li><a href="contact.html">ارتباط با ما</a></li>
				          <li class="menu-has-children"><a href="">مشخصات</a>
						  <li class="menu-has-children"><a href="">آگهی های من</a>
				          <li><a class="ticker-btn" href="#">خروج</a></li>
				        </ul>
				      </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12">
							<h1 class="text-white">
								لیست کارجویان
							</h1>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container" align = "right" >
					<div class="row justify-content-center d-flex">
						<div class="col-lg-8 post-list">
				<div class="single-post d-flex flex-row" align = "center" dir = "rtl">
				<div class="container" align = "center">
					<div class="row" align = "center">

						<div class="col-lg-8" align = "right">
                                        <div class="single-post job-experience" dir = "rtl">
								            <h4 class="single-title">کارجویان</h4>
                                        <ul>
                                            {% for employee in all_employees %}
                                                <p>hi</p>
									            <li>
										            <img src="../../static/img/pages/list.jpg" alt="">
										            <span>{{ employee.username }} :
                                                        <p>
                                                            {{ employee.name }}
                                                        </p>
                                                    </span>
									            </li>
                                            {% endfor %}
                                        </ul>
                                        </div>
						</div>
					</div>
				</div>
			</div>


						</div>

					</div>
				</div>
			</section>
			<!-- End post Area -->


			<!-- start footer Area -->
			<footer class="footer-area section-gap">
				<div class="container">

					<div class="row footer-bottom d-flex justify-content-between">
						<p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
						<div class="col-lg-4 col-sm-12 footer-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->

			<script src="../../static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="../../static/js/vendor/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="../../static/js/easing.min.js"></script>
			<script src="../../static/js/hoverIntent.js"></script>
			<script src="../../static/js/superfish.min.js"></script>
			<script src="../../static/js/jquery.ajaxchimp.min.js"></script>
			<script src="../../static/js/jquery.magnific-popup.min.js"></script>
			<script src="../../static/js/owl.carousel.min.js"></script>
			<script src="../../static/js/jquery.sticky.js"></script>
			<script src="../../static/js/jquery.nice-select.min.js"></script>
			<script src="../../static/js/parallax.min.js"></script>
			<script src="../../static/js/mail-script.js"></script>
			<script src="../../static/js/main.js"></script>
		</body>
	</html>



